<p id="notice"><%= notice %></p>

<h1>
  <strong>Symptom:</strong>
  <%= @symptom.name.titlecase %>
</h1>

<p>
  <strong>Body System:</strong>
  <%= link_to @system.name, @system %>
</p>

<p>
  <strong>Subdoshas Responsible:</strong>
  <ul>
    <% @symptom.subdoshas.each do |subdosha| %>
      <li><%= link_to display_subdosha_fullname(subdosha), subdosha %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_symptom_path(@symptom) %> |
<%= link_to 'Back', symptoms_path %> | 
<%= link_to 'New Symptom', new_symptom_path %>
