<%= form_for(@subdosha) do |f| %>
  <% if @subdosha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subdosha.errors.count, "error") %> prohibited this subdosha from being saved:</h2>

      <ul>
      <% @subdosha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dosha_id, "Dosha Name" %><br>
    <%= f.collection_select :dosha_id, Dosha.all, :id, :name, :prompt => "-- Select One --" %>
  </div>

  <div class="field">
    <%= f.label :name, "Subdosha Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.collection_check_boxes(:symptom_ids, Symptom.all.order(name: :asc), :id, :name) %> 
  </div> <!-- field -->
    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>