<p id="notice"><%= notice %></p>

<h1>Subdoshas Index</h1>
<%= link_to '+ New Subdosha', new_subdosha_path %>

<table class="table">
  <thead>
    <tr>
      <th>Subdosha Name</th>
      <th>Parent Dosha Name</th>
      <th>Responsibilty</th>
      <th>Symptoms</th>
      <th colspan="3">Manage Subdosha</th>
    </tr>
  </thead>

  <tbody>
    <% @subdoshas.order("name").each do |subdosha| %>
      <tr>
        <td><%= link_to display_subdosha_fullname(subdosha), subdosha %></td>
        <td><%= link_to subdosha.dosha.name, subdosha.dosha %></td>
        <td width="30%"><%= subdosha.responsibility %></td>
        <td>
          <ul>
          <% subdosha.symptoms.order("name").each do |symptom| %>
            <li><%= link_to symptom.name, symptom %></li>
          <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', subdosha %></td>
        <td><%= link_to 'Edit', edit_subdosha_path(subdosha) %></td>
        <td><%= link_to 'Destroy', subdosha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>