<p id="notice"><%= notice %></p>

<h1>Listing Subdoshas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subdoshas.each do |subdosha| %>
      <tr>
        <td><%= subdosha.name %></td>
        <td><%= subdosha.dosha_id %></td>
        <td><%= link_to 'Show', subdosha %></td>
        <td><%= link_to 'Edit', edit_subdosha_path(subdosha) %></td>
        <td><%= link_to 'Destroy', subdosha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subdosha', new_subdosha_path %>
