<p id="notice"><%= notice %></p>

<p>
  <strong>Subdosha Name:</strong>
  <%= display_subdosha_fullname(@subdosha) %>
</p>

<p>
  <strong>Responsibilty:</strong>
  <%= @subdosha.responsibility %>
</p>

<p>
  <strong>Dosha:</strong>
  <%= link_to @dosha.name, @dosha %>
</p>

<p>
  <strong>Symptoms:</strong>
  <ul>
    <% @symptoms.each do |symptom| %>
      <li><%= link_to symptom.name, symptom %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_subdosha_path(@subdosha) %> |
<%= link_to 'Back', subdoshas_path %>
