<p id="notice"><%= notice %></p>

<h1>Doshas Index</h1>
<%= link_to '+ New Dosha', new_dosha_path %>

<table class="table">
  <thead>
    <tr>
      <th>Dosha Name</th>
      <th>Subdoshas</th>
      <th colspan="3">Manage Dosha</th>
    </tr>
  </thead>

  <tbody>
    <% @doshas.each do |dosha| %>
      <tr>
        <td><%= link_to dosha.name, dosha %></td>
        <td>
          <ul>
            <% dosha.subdoshas.each do |subdosha| %>
              <li><%= link_to display_subdosha_fullname(subdosha), subdosha %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', dosha %></td>
        <td><%= link_to 'Edit', edit_dosha_path(dosha) %></td>
        <td><%= link_to 'Destroy', dosha, method: :delete, data: { confirm: 'Are you sure you want to delete this Dosha? This Action Cannot be undone.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>