<p id="notice"><%= notice %></p>

<h1>Body Systems Index</h1>

<%= link_to '+ New System', new_system_path %>

<table class="table">
  <thead>
    <tr>
      <th>Body System</th>
      <th>System Symptoms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to display_system_fullname(system), system %></td>
        <td>
          <ul>
          <% system.symptoms.order("name").each do |symptom| %>
            <li><%= link_to symptom.name, symptom %></li>
          <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', system %></td>
        <td><%= link_to 'Edit', edit_system_path(system) %></td>
        <td><%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>