<!DOCTYPE html>
<html>
<head>
  <title>Holistic</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>
<body>
  <nav>
    Holistic App | 
    <%= link_to "Doshas", doshas_path %> | 
    <%= link_to "Subdoshas", subdoshas_path %> | 
    <%= link_to "Body Systems", systems_path %> | 
    <%= link_to "Symptoms", symptoms_path %>
    <hr>
  </nav>
  <div class="container">

  <%= yield %>

  </div> <!-- container -->

</body>
</html>